<% content_for :title do %>Vitaliy Korbut<% end %>
<% content_for :description do %>Personal website<% end %>
<section>
<h3> The website that is really about you </h3>
<div style="logo"><%= image_tag("http://images4.fanpop.com/image/photos/23300000/Sydney-Opera-House-and-Harbour-Bridge-australia-23340467-1600-1200.jpg", :alt => "Sydney-Opera-House", size: "800x600") %> </div>
</section>
<section>
<div class="column">
<h2>Stay in touch.</h2>
</div>
<div class="column">
<div class="form-centered">
<%= simple_form_for @visitor do |f| %>
<%= f.error_notification %>
<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
<br/>
<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
<% end %>
</div>
</div>
</section>
