<% content_for :title do %>Stephanie<% end %>
<% content_for :description do %>Website of Stephanie<% end %>
<section>
<!--- <img src="/images/Stephanie.jpg"> -->
<div style="logo"><%= image_tag("http://i.imgur.com/5czWATc.jpg", :alt => "Stephanie") %> </div>
</section>
<section>
<div class="column">
<h2>Stay in touch.</h2>
</div>
<div class="column">
<div class="form-centered">
<%= simple_form_for @visitor do |f| %>
<%= f.error_notification %>
<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
<br/>
<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
<% end %>
</div>
</div>
</section>
