<% content_for :title do %>Pet projects<% end %>
<h2>Projects that want to skyrocket, but not now... </h2>
<h3>1. Play poker</h3>
<a href="https://pokerpro.herokuapp.com">
<%= image_tag("http://i.imgur.com/3GzCHi4.png", :alt => "poker  8 day-development time. ", size: "900x600") %></a>

<p> One of the projects you master your skills on. Needs design improvements as well as underlying data structure changes.Click on the image to play </p>


<h3>2. Plan your win</h3>
<a href="https://sheltered-hollows-3380.herokuapp.com/plans/1">
<%= image_tag("http://i.imgur.com/9qEZ8X8.png", :alt => "okr-app  1 day-development time.", size: "900x600") %></a>

<p> OKR(Objectives Key Results) planning methodology used in Google, Intel. Needs more of my attention and features. Used Michael Hartl tutorial's style. Click on the image to look at the sketch. </p>


<h3>3. Socialize</h3>
<a href="https://sheltered-lowlands-9878.herokuapp.com/users/101">
<%= image_tag("http://i.imgur.com/vvN3Arh.png", :alt => "yet-another-twitter 14 day-development time, can be done in 3-4 days. ", size: "900x600") %></a>

<p> Twitter clone. Made with support from Michael Hartl. The first project, followed tutorial, brainwashing. Click on the image to look at me. You can find my brother too :) </p>

<h4>4. Stay fit</h4>
<a href="https://bon.herokuapp.com/">
<%= image_tag("http://i.imgur.com/XsyQ74f.png", :alt => "pumping Some minutes-development time. ", size: "900x600") %></a>

<p> Exercises/fitness countdown. As simple as you can imagine. Add exercises, complete them, profit! Click on the image to be accountable for your fitness! </p>


<h4>5. Be Sexy(frozen)</h4>
<a href="">
<%= image_tag("http://i.imgur.com/wwadOGf.png", :alt => "pumping", size: "900x600") %></a>

<p> Finally, my first "data-driven" analytics app based on 180.000 men polled. Provides suggestions on how to be a more attractive girl/woman. You can see on the sketch some text with code, not clean code, dirty code:) </p>

<h4>6. Yet another productivity app (in development)</h4>
<a href="">
<%= image_tag("http://www.rodsbot.com/images_maps_cache/4543-map-assoc.jpg", :alt => "pumping", size: "900x600") %></a>
<p>Later. Just sketches/ mockups and first commits available.</p>